
body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 70px;

}

h1 {
  font-size: 24pt;
  font-weight: normal;
}

h2 {
  font-size: 20pt;
  font-weight: normal;
}

h3 {
  margin-top: 3em;
  font-size: 16pt;
  font-weight: normal;
}

.health-dial .normal-label {
  font-size: 11pt;
  fill: #232323;
}


.health-dial .small-label2 {
  font-size: 9pt;
  fill: #9e9e9e;
}


.health-dial .outer-dial {
  fill: white;
  stroke: #dedede;
  cursor: pointer;
  stroke-width: 1px;
}


.health-dial line.needle {
  stroke-width: 2px;
}


.health-dial line.needle.default {
  stroke: #666666;
}


.health-dial line.needle.good {
  stroke: #7ab800;
}


.health-dial line.needle.bad {
  stroke: #cb0000;
}


.health-dial line.needle.none {
  display: none;
}


.health-dial polygon.pointer.good {
  fill: #7ab800;
}


.health-dial polygon.pointer.bad {
  fill: #cb0000;
}


.health-dial polygon.pointer.none {
  visibility: hidden;
}


.health-dial .deviation-arc {
  opacity: 0.2;
}


.health-dial .deviation-arc.good {
  fill: #7ab800;
}


.health-dial .deviation-arc.bad {
  fill: #cb0000;
}


.health-dial .deviation-arc.none {
  visibility: hidden;
}
